<% if (theme.valine.enable) { %>
    <span class="leancloud-comment">
        <i class="icon icon-comment-o"></i>
        <a href="<%- url_for(post.path) %>#comment">
            <span class="valine-comment-count" data-xid="<%- url_for(post.path) %>"></span>
        </a>
    </span>
<% } %>

<% if (!theme.valine.enable && theme.gitment.enable) { %>
<span class="post-comments-counter" id="<%- url_for(post.path) %>">
    <span class="post-meta-item-icon">
        <i class="icon icon-comment-o"></i>
    </span>
    <% const link = theme.gitment.lazy ? "gitment-display-button" : "gitment"; %>
    <a href="<%- url_for(post.path) %>#<%= link %>" onclick="ShowGitment()">
        <span class="post-comments-count gitment-comments-count" itemprop="commentsCount"></span>
    </a>
</span>
<% } %>