<%- partial('_partial/header', {
    title: page.title,
    hdClass: 'page-header'
}) %>
<%
    page.reward = 'reward' in page ? !!theme.reward && !!page.reward : !!theme.reward;
    page.slug = 'hexo-page-' + page.path.replace(/\/index\.html$/,'').split('/').join('-');
%>
<div class="container body-wrap">
    <article class="page-article fade" itemprop="blogPage">
        <div class="post-content page-content" id="page-content" itemprop="pageContent">
            <%
                page.content = page.content.replace(/<table class="table">(.+)<\/table>/, function(match, $1) {
                    $1 = $1.replace(/<br>/g, '');
                    return `<table>${$1}</table>`;
                });
            %>
            <%- page.content.replace(/<p>}<\/p>/g, '</div>')
                .replace(/<p>@([\w-]+){<\/p>/g, function(match, $1){
                return '<div class="'+ $1 +'">'
            }) %>
        </div>
        <% if (page.reward) { %>
            <%- partial('_partial/post/reward-btn') %>
        <% } %>
        <% if (page.share || typeof page.share === "undefined") { %>
        <div class="card page-about-me flex-row">
            <a href="/" class="avatar waves-effect waves-circle waves-light"><%- image_tag(theme.avatar) %></a>
            <div class="content flex-col">
                <p><strong><%- config.author %></strong></p>
                <p><em><%- config.subtitle %></em></p>
                <p><%- page.share %></p>
            </div>
            <%- partial('_partial/post/share-fab') %>
        </div>
        <% } %>
        <% if (page.comments || typeof page.comments === "undefined") { %>
        <div class="card">   
           <%- partial('_partial/post/comment') %>
        </div>
        <% } %>
    </article>
    <% if (page.reward) { %>
        <%- partial('_partial/post/reward') %>
    <% } %>
</div>
