<article id="<%= post.layout %>-<%= post.slug %>"
  class="article-card article-type-<%= post.layout %>" itemprop="blogPost">
  <% if (theme.defaultthumb && !post.src) { %>
        <%- partial('post/thumb', {src: theme.defaultthumb, total: total}) %>
        <% } %>
    <% if (post.src) { %>
        <%- partial('post/thumb', {src: post.src, total: total}) %>
        <% } %>
    <% if (theme.top_icon && post.top) { %>
    <%- partial('post/top') %>
    <% } %>
    <% if (!theme.defaultthumb && !post.src) {%>
        <%- partial('post/title', { hasLink: true, tClass: "re-title" }) %>
    <% } %>
    <div class="post-meta">
        <%- partial('post/date', {date_format: config.date_format}) %>
        <%- partial('post/category') %>
        <%- partial('post/visitor') %>
        <%- partial('post/comment-count') %>
        <%- partial('post/repo-icon') %>
        <%- partial('post/music') %>
    </div>
    
    <div class="post-content" id="post-content" itemprop="postContent">
    <%
        post.excerpt = post.excerpt.replace(/<table class="table">(.+)<\/table>/, function(match, $1) {
            $1 = $1.replace(/<br>/g, '');
            return `<table>${$1}</table>`;
        });
        // 首页缩略图大小及路径处理
        post.excerpt = post.excerpt.replace(/(img\s)(.+)(\>)/g, (match, $1, attrs, $2) => {
            let [src, alt, title = '', imgClass = '' ] = attrs.split(' ');
            if ( !/src\=\"\//g.test(src) && !/src\=\"http/g.test(src) ) { // 过滤已经形成相对路径以及外链的src
                src = src.replace(/src\=\"/g, `src="${ url_for(post.path) }`);
            }
            imgClass = `class="index-item-img"`;
            let res = Array.of(src, alt, title, imgClass);
            return $1 + res.join(' ') + $2;
        });
    %>
    <% if(theme.excerpt_render) { %>
        <%- post.excerpt || post.content %>
    <% } else { %>
        <%- post.excerpt ? post.excerpt : truncate(strip_html(post.content), {
            length: theme.excerpt_length
        }) %>
    <% } %>
    <a href="<%- url_for(post.path) %>" class="post-more waves-effect waves-button">
            <%- theme.excerpt_link %>
        </a>
    </div>
</article>
<% if(post.tags && post.tags.length){ %>
<div class="post-footer">
    <%- partial('post/tag') %>
</div>
<% } %>
